:root {
  --cols: 50;
  --rows: 50;
  --side: 8px;
  --gap: 1px;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  width: calc( calc(var(--side) + var(--gap)) * var(--cols) );
  border: 3px solid dodgerblue;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--side));
  grid-template-rows: repeat(var(--rows), var(--side));
  grid-gap: var(--gap);
}

.grid > div {
  width: var(--side);
  height: var(--side);
  background-color: #f1f1f1;
}

div[class^=sand] {
  background-color: burlywood;
}
