:root {
  --cols: 100;
  --rows: 100;
  --side: 8px;
}
.cells {
  width: calc(var(--side) * var(--cols));
  border: 3px solid dodgerblue;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--side));
  grid-template-rows: repeat(var(--rows), var(--side));
  > div {
    width: var(--side);
    height: var(--side);
  }
}
.dead {
  background-color: silver;
}
.live {
  background-color: seagreen;
  /* background: linear-gradient(crimson, cyan, darkorchid); */
}
.flex { 
  display: flex; 
  gap: 1rem; 
  align-items: center;
}
