:root {
  --cols: 500;
  --rows: 100;
  --side: 2px;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.cells {
  margin: 0 auto;
  width: calc(var(--side) * var(--cols));
  border: 3px solid dodgerblue;
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--side));
  grid-template-rows: repeat(var(--rows), var(--side));
  > div {
    width: var(--side);
    height: var(--side);
  }
  margin-bottom: 5rem;
}
.dead {
  background-color: silver;
}
.live {
  background-color: seagreen;
  /* background: linear-gradient(crimson, cyan, darkorchid); */
}
.flex { 
  display: flex; 
  gap: 1rem; 
  align-items: center;
}
header {
  position: sticky;
  top: 0;
  background-color: blanchedalmond;
  padding: 0.25rem 1rem;
  h1 {
    margin: 0;
  }
}
input {
  margin-left: auto
}